fastapi
uvicorn
pydantic
requests
python-dotenv
pytest
httpx
python-telegram-bot[webhooks]
aiohttp
reportlab
pdfplumber
python-multipart
sqlalchemy
python-jose
passlib[bcrypt]
bcrypt>=4.0.1,<5
alembic
psycopg2-binary
pytesseract
fpdf
pytest-asyncio