fastapi
uvicorn
pydantic
requests
python-dotenv
pytest
pytest-mock
pytest-asyncio
httpx
python-telegram-bot[webhooks]
aiohttp
reportlab
pdfplumber
python-multipart
sqlalchemy
python-jose
bcrypt>=4.0.1,<6
alembic
psycopg2-binary
pytesseract
fpdf
pytest-asyncio
beautifulsoup4
httpx