fastapi
uvicorn
pydantic
requests
python-dotenv
pytest
httpx
python-telegram-bot[webhooks]
aiohttp
reportlab
pdfplumber
python-multipart
sqlalchemy
python-jose
passlib[bcrypt]
bcrypt==5.0.0
alembic
psycopg2-binary
pytesseract
fpdf
pytest-asyncio